<section class="block container block-domain">
  <div class="block__header domain__content">
    <h2>The best webhosting Starting at $9 per month</h2>
    <p class="domain__text">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi saepe
      cumque reprehenderit necessitatibus quam alias ex in quod nostrum minima!
    </p>
    <div class="input-search">
      <input
        type="text"
        name="search"
        placeholder="Enter domain name here . . ."
      />
      <button type="submit" class="btn btn--tertiary btn--special">
        <svg class="icon-search">
          <use xlink:href="images/sprite.svg#search"></use>
        </svg>
        SEARCH
      </button>
    </div>
    <ul class="list prices">
      <li>.com $9.26</li>
      <li><span class="badge primary--badge">.sg $7.91</span></li>
      <li>.space $12.98</li>
      <li>.info $14.15</li>
      <li>.net $16.15</li>
      <li>.xyz $10.15</li>
    </ul>
  </div>
</section>
