<section class="block container block-plans">
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card">
        <header class="plan__header">
          <h4 class="plan__heading">Entry</h4>
          <div>
            <span><span class="plan__price">$14</span>/month</span>
            <span class="badge primary--badge small--badge">10% OFF</span>
          </div>
          <p>Easy start on the cloud</p>
        </header>
        <div class="plan__content plan__contentone">
          <ul class="list list--tick">
            <li>Unlimited Websites</li>
            <li>Unlimited Bandwidth</li>
            <li>100 GB SSD Storage</li>
            <li>3 GB RAM</li>
          </ul>
          <button class="btn btn--primary">BUY NOW</button>
        </div>
      </div>
    </div>
    <div class="plan plan--popular">
      <div class="card">
        <header class="plan__header">
          <h4 class="plan__heading">Business</h4>
          <img src="images/popular.svg" alt="" class="popular__image" />
          <div>
            <span><span class="plan__price">$24</span>/month</span>
            <span class="badge small--badge secondary--badge">20% OFF</span>
          </div>
          <p>Optimal Cloud Experience</p>
        </header>
        <div class="plan__content plan__contenttwo">
          <ul class="list list--tick">
            <li>Unlimited Websites</li>
            <li>Unlimited Bandwidth</li>
            <li>100 GB SSD Storage</li>
            <li>3 GB RAM</li>
            <li>2 CPU Cores</li>
          </ul>
          <button class="btn btn--primary">BUY NOW</button>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card">
        <header class="plan__header">
          <h4 class="plan__heading">Business plus</h4>
          <div>
            <span><span class="plan__price">$54</span>/month</span>
            <span class="badge primary--badge small--badge">10% OFF</span>
          </div>
          <p>Easy start on the cloud</p>
        </header>
        <div class="plan__content">
          <ul class="list list--tick">
            <li>Unlimited Websites</li>
            <li>Unlimited Bandwidth</li>
            <li>100 GB SSD Storage</li>
            <li>3 GB RAM</li>
            <li>2 CPU Cores</li>
          </ul>
          <button class="btn btn--primary">BUY NOW</button>
        </div>
      </div>
    </div>
  </div>
</section>
