<footer class="block block--dark footer">
  <div class="container grid">
    <section class="collapsible collapsible--expanded">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">PRODUCTS</h2>
        <svg class="icon collapsible__svg">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content footer__content">
        <ul class="list footer__list">
          <li><a href="#">WordPress Hosting</a></li>
          <li><a href="#">Free Automated WordPress</a></li>
          <li><a href="#">Migrations</a></li>
          <li><a href="#">Domain Names</a></li>
          <li><a href="#">Monthly Web Hosting</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">COMPANY</h2>
        <svg class="icon collapsible__svg">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content footer__content">
        <ul class="list footer__list">
          <li><a href="#">About</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Community</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Green Hosting</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">SUPPORT</h2>
        <svg class="icon collapsible__svg">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content footer__content">
        <ul class="list footer__list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowledge Base</a></li>
          <li><a href="#">Forums</a></li>
          <li><a href="#">Systems Status</a></li>
          <li><a href="#">Web Hosting</a></li>
          <li><a href="#">DreamCompute</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible">
      <header class="collapsible__header footer__header">
        <h2 class="collapsible__heading footer__heading">DOMAINS</h2>
        <svg class="icon collapsible__svg">
          <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content footer__content">
        <ul class="list footer__list">
          <li><a href="#">Domain Checker</a></li>
          <li><a href="#">Domain Transfer</a></li>
          <li><a href="#">Free Domain</a></li>
          <li><a href="#">XYZ Domain</a></li>
          <li><a href="#">Cheap SSL Certificate</a></li>
        </ul>
      </div>
    </section>
    <section class="footer__end">
      <img src="images/logo.png" alt="Brand Logo" />
      <p class="footer__copyright">Copyright &copy 2022 by Manfred Obumma</p>
    </section>
  </div>
</footer>
