<div class="grid grid--1x3">
  <div class="card plan">
    <header class="plan__header">
      <h4 class="plan__heading">Entry</h4>
      <div>
        <span><span class="plan__price">$14</span>/month</span>
        <span class="badge primary--badge small--badge">10% OFF</span>
      </div>
      <p>Easy start on the cloud</p>
    </header>
    <div class="plan__content plan__contentone">
      <ul class="list list--tick">
        <li>Unlimited Websites</li>
        <li>Unlimited Bandwidth</li>
        <li>100 GB SSD Storage</li>
        <li>3 GB RAM</li>
      </ul>
      <button class="btn btn--primary">BUY NOW</button>
    </div>
  </div>
  <div class="card plan">
    <header class="plan__header plan__header-special">
      <h4 class="plan__heading">Business</h4>
      <img src="images/popular.svg" alt="" />
      <div>
        <span><span class="plan__price">$24</span>/month</span>
        <span class="badge secondary--badge small--badge">20% OFF</span>
      </div>
      <p>Optimal Cloud Experience</p>
    </header>
    <div class="plan__content plan__contenttwo">
      <ul class="list list--tick">
        <li>Unlimited Websites</li>
        <li>Unlimited Bandwidth</li>
        <li>100 GB SSD Storage</li>
        <li>3 GB RAM</li>
        <li>2 CPU Cores</li>
      </ul>
      <button class="btn btn--primary btn--secondary">BUY NOW</button>
    </div>
  </div>
  <div class="card plan">
    <header class="plan__header">
      <h4 class="plan__heading">Business plus</h4>
      <div>
        <span><span class="plan__price">$54</span>/month</span>
        <span class="badge primary--badge small--badge">10% OFF</span>
      </div>
      <p>Easy start on the cloud</p>
    </header>
    <div class="plan__content">
      <ul class="list list--tick">
        <li>Unlimited Websites</li>
        <li>Unlimited Bandwidth</li>
        <li>100 GB SSD Storage</li>
        <li>3 GB RAM</li>
        <li>2 CPU Cores</li>
      </ul>
      <button class="btn btn--primary">BUY NOW</button>
    </div>
  </div>
</div>
