<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
    explicabo consequatur fugit reprehenderit dolore maiores cum magni vitae
    nisi esse tenetur natus blanditiis, eligendi praesentium, assumenda beatae
    eius porro voluptatem.
  </p>
  <footer>
    <div class="media">
      <div class="quote__icon">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="quote__author">Jhone Lumeo</h3>
        <p>Mosh Company ceo</p>
      </div>
    </div>
  </footer>
</blockquote>
